Data_Pipeline.json
{"flowContents":{"identifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","instanceIdentifier":"be7ca9a6-018e-1000-ad00-af4b688bc3ef","name":"Data Pipeline","comments":"","position":{"x":2376.0,"y":-8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a6f4ee60-c979-3a2b-a87e-a0290848ec10","instanceIdentifier":"54974e17-018f-1000-52f0-5f42daffdf81","name":"ExecuteSQLForEquipment","comments":"","position":{"x":56.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO public.equipment (eq_identity_name, eq_location, eq_identity, provider_id, ne_object_id, code)\nSELECT\n    eq_identity_name,\n    eq_location,\n    eq_identity,\n    provider_id,\n    ne_object_id,\n    cs.code  \nFROM\n    public.equipment eq\nJOIN\n    public.cell_site cs ON eq.code = cs.code\nWHERE\n    cs.code IS NOT NULL\nON CONFLICT (eq_identity_name) DO NOTHING;\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"2b5bb55d-9279-39d7-95a2-377f551963ae","instanceIdentifier":"19a04c57-018f-1000-e193-f95a06288808","name":"RemoveHeader","comments":"","position":{"x":856.0,"y":-432.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"First-Line","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c","name":"RouteOnAttribute","comments":"","position":{"x":864.0,"y":112.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"alarmlog":"${filename:equals('20231111235509-alarm-log-auto-1.csv')}","Routing Strategy":"Route to Property name","cellsite":"${filename:equals('cellsite.csv')}","ems":"${filename:equals('EMS2_Active_CSV_1_20240306_060000_143.csv')}"},"propertyDescriptors":{"alarmlog":{"name":"alarmlog","displayName":"alarmlog","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"cellsite":{"name":"cellsite","displayName":"cellsite","identifiesControllerService":false,"sensitive":false},"ems":{"name":"ems","displayName":"ems","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["ems","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"a827fa05-59cf-3084-b673-bb5ec77e9463","instanceIdentifier":"1fc7feb3-018f-1000-29e8-ecd558aa9809","name":"DeleteExistingDataInStagingTable","comments":"","position":{"x":856.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"DELETE FROM ${stagingTable};","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"a61702bd-1cf9-30a4-84e1-2e1b4d5e1e61","instanceIdentifier":"bf020066-018e-1000-6e73-ad19166543c7","name":"GetCellSiteFile","comments":"","position":{"x":848.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\HProBook\\Desktop\\cellsite","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"cellsite.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"ade4369a-479c-3234-a984-a302aec53117","instanceIdentifier":"92c665c8-018f-1000-b2e8-c01faa82e6ad","name":"ExecuteSQLforNetwork","comments":"","position":{"x":1640.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO network (ne_object_id, ne_type)\nSELECT\n    ne_object_identity,\n    ne_type\nFROM\n    alarm_log_staging\nON CONFLICT (ne_object_id) DO NOTHING;\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"5efd5a57-47d5-3dd5-8ea2-ea80439f4bd1","instanceIdentifier":"3884ed78-018f-1000-afe6-dde3b6d5ed4f","name":"Remove\"?\"","comments":"","position":{"x":1464.0,"y":-432.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Regular Expression":"\\?","Replacement Value":"","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"2aa8c2c9-f219-3fa4-9a66-6635e2bb72b6","instanceIdentifier":"977b3457-018f-1000-7e16-378ff10ca683","name":"ExecuteSQLforEquip_alarm","comments":"","position":{"x":1680.0,"y":288.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO public.equipment_alarm (equipment_id, alarm_id)\nSELECT \n    object_identity_name AS equipment_id,\n    CAST(alarm_id AS INTEGER) AS alarm_id\nFROM \n    public.alarm_log_staging\nWHERE \n    object_identity_name IS NOT NULL\n    AND alarm_id IS NOT NULL\nON CONFLICT (equipment_id, alarm_id) DO NOTHING;\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"fdc9500f-f7ad-316b-a08b-b0a9325bdd25","instanceIdentifier":"02394144-018f-1000-c30f-3d17e4c9b266","name":"SetStagingTableName","comments":"","position":{"x":280.0,"y":-632.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.3"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"alarm_log_staging","schema.name":"AlarmLog","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"f6ed1f35-d084-3fe5-97c3-1c33810cb526","instanceIdentifier":"dd333969-018e-1000-a849-f77ba2e998bf","name":"SetStagingTableName","comments":"","position":{"x":1464.0,"y":-640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.3"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"ems2_active_staging","schema.name":"EMS","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"46ae65ea-64e0-3f11-b516-1fd8e892f3b1","instanceIdentifier":"f617edf6-018e-1000-84f8-b36fda52143e","name":"RetryFlowFile","comments":"","position":{"x":224.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retries_exceeded","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"5fe589f2-6e20-3f9e-b013-565ad9531300","instanceIdentifier":"86c4b99b-018f-1000-7024-74b7149008cd","name":"ExecuteSQLfor Alarm","comments":"","position":{"x":376.0,"y":504.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"WITH unique_codes AS (\n    SELECT\n        CAST(alarm_id AS integer) AS alarm_id,\n        alarm_name,\n        type AS alarm_type,\n        severity AS alarm_severity,\n        log_serial_number,\n        status AS alarm_status,\n        occurrence_time AS alarm_occurrence_time,\n        alarm_source,\n        ROW_NUMBER() OVER (PARTITION BY alarm_id ORDER BY alarm_id) AS row_num\n    FROM public.alarm_log_staging\n    WHERE alarm_id IS NOT NULL \n)\nINSERT INTO public.alarm (alarm_id, alarm_name, alarm_type, alarm_severity, log_serial_number, alarm_status, alarm_occurrence_time, alarm_source)\nSELECT\n    alarm_id,\n    alarm_name,\n    alarm_type,\n    alarm_severity,\n    log_serial_number,\n    alarm_status,\n    alarm_occurrence_time,\n    alarm_source\nFROM unique_codes uc\nWHERE row_num = 1 AND NOT EXISTS(SELECT alarm_id FROM public.alarm ar WHERE uc.alarm_id = ar.alarm_id);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"de032e3a-738c-36bf-9c7e-2c083afbb720","instanceIdentifier":"f6104772-018e-1000-74cd-2df26283e69d","name":"SetStagingTableName","comments":"","position":{"x":848.0,"y":-640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.3"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"cell_site_staging","schema.name":"CellSite","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"85237734-ee16-34a4-81fe-22bf745d0b51","instanceIdentifier":"f6107365-018e-1000-4e9f-b71dd965660a","name":"PutDatabaseRecord","comments":"","position":{"x":864.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"${stagingTable}","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"386bd826-8ad5-3d78-904d-1f1642b334fe","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"d40dfa50-5376-3d94-bdae-c8c549d554cc","instanceIdentifier":"162efa95-018f-1000-af26-7bc21615ca9b","name":"ExecuteSQLForCellsite","comments":"","position":{"x":808.0,"y":512.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO cell_site (cell_site_id, site_location, cell_name, code, longitude, altitude, sut_lot, start_date, end_date, update_dttm, technologie)\nWITH unique_codes AS (\n    SELECT\n        cell_site_id,\n        site_location,\n        cell_name,\n        code,\n        CAST(REPLACE(longitude, ',', '.') AS text) AS longitude,\n        CAST(REPLACE(altitude, ',', '.') AS text) AS altitude,\n        CAST(sut_lot AS integer) AS sut_lot,\n        CASE WHEN start_date ~ '^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}$' THEN TO_DATE(start_date, 'DD/MM/YYYY') ELSE NULL END AS start_date,\n        CASE WHEN end_date ~ '^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}$' THEN TO_DATE(end_date, 'DD/MM/YYYY') ELSE NULL END AS end_date,\n        CASE WHEN update_dttm ~ '^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}$' THEN TO_DATE(update_dttm, 'DD/MM/YYYY') ELSE NULL END AS update_dttm,\n        technologie,\n        ROW_NUMBER() OVER (PARTITION BY code ORDER BY cell_site_id) AS row_num\n    FROM cell_site_staging\n    WHERE code IS NOT NULL AND end_date = '31/12/2999'\n)\nSELECT\n    cell_site_id,\n    site_location,\n    cell_name,\n    code,\n    longitude,\n    altitude,\n    sut_lot,\n    start_date,\n    end_date,\n    update_dttm,\n    technologie\nFROM unique_codes uc\nWHERE row_num = 1\nON CONFLICT (code) DO NOTHING;\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"c6951af7-5999-3d89-a9ce-c204784b178e","instanceIdentifier":"54091822-018f-1000-c85b-27f73a62a1fe","name":"ExecuteSQLForRegion","comments":"","position":{"x":1224.0,"y":496.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO region (commune, wilaya, region, code_commune, code_wilaya)\nSELECT\n    commune,\n    wilaya,\n    region,\n    CAST(code_commune AS integer),\n    CAST(code_wilaya AS integer)\nFROM cell_site_staging\nWHERE code_commune IS NOT NULL\nON CONFLICT (code_commune) DO NOTHING;\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"aaa5c9a4-be05-3a1c-b505-28949b4d3b2d","instanceIdentifier":"be7edd10-018e-1000-0480-9f95f87e52a5","name":"GetEMSFiles","comments":"","position":{"x":1464.0,"y":-912.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\HProBook\\Desktop\\Huawei2","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"EMS2_Active_CSV.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"d03d71a1-2129-3f8b-9481-30976fa71c48","instanceIdentifier":"be7d7274-018e-1000-f7c5-a5c529c97168","name":"GetAlarmLogFiles","comments":"","position":{"x":280.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.3"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\HProBook\\Desktop\\Huawei1","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*alarm-log-auto.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8d99d372-5ea6-3ff1-886c-c4b8fedae653","instanceIdentifier":"169ef870-018f-1000-52c6-eb30d8aae4a1","name":"","source":{"id":"85237734-ee16-34a4-81fe-22bf745d0b51","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f6107365-018e-1000-4e9f-b71dd965660a"},"destination":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"1c44202b-7099-3b31-bec4-20f0681d3b80","instanceIdentifier":"3a6205f7-018f-1000-85f1-4003b03cb4e1","name":"","source":{"id":"de032e3a-738c-36bf-9c7e-2c083afbb720","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"f6104772-018e-1000-74cd-2df26283e69d"},"destination":{"id":"2b5bb55d-9279-39d7-95a2-377f551963ae","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RemoveHeader","comments":"","instanceIdentifier":"19a04c57-018f-1000-e193-f95a06288808"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"df29a995-87a4-3e86-bb0d-e9b428bcf217","instanceIdentifier":"023520f9-018f-1000-15da-5b945725c9be","name":"","source":{"id":"85237734-ee16-34a4-81fe-22bf745d0b51","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f6107365-018e-1000-4e9f-b71dd965660a"},"destination":{"id":"46ae65ea-64e0-3f11-b516-1fd8e892f3b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RetryFlowFile","comments":"","instanceIdentifier":"f617edf6-018e-1000-84f8-b36fda52143e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"feb473de-9a42-3e36-9767-45593bc65b93","instanceIdentifier":"53f7658f-018f-1000-c7b1-3d1c14b65fc8","name":"","source":{"id":"5efd5a57-47d5-3dd5-8ea2-ea80439f4bd1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"Remove\"?\"","comments":"","instanceIdentifier":"3884ed78-018f-1000-afe6-dde3b6d5ed4f"},"destination":{"id":"a827fa05-59cf-3084-b673-bb5ec77e9463","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"DeleteExistingDataInStagingTable","comments":"","instanceIdentifier":"1fc7feb3-018f-1000-29e8-ecd558aa9809"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"d99ac34e-d15f-399a-934a-6351babb83de","instanceIdentifier":"f618b3a5-018e-1000-5d2c-9e66be04b6f5","name":"","source":{"id":"46ae65ea-64e0-3f11-b516-1fd8e892f3b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RetryFlowFile","comments":"","instanceIdentifier":"f617edf6-018e-1000-84f8-b36fda52143e"},"destination":{"id":"85237734-ee16-34a4-81fe-22bf745d0b51","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f6107365-018e-1000-4e9f-b71dd965660a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":712.0,"y":-72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"8733855d-6665-3fbc-bcb4-f5cee802d50d","instanceIdentifier":"3a6b8342-018f-1000-8430-f2052592986e","name":"","source":{"id":"2b5bb55d-9279-39d7-95a2-377f551963ae","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RemoveHeader","comments":"","instanceIdentifier":"19a04c57-018f-1000-e193-f95a06288808"},"destination":{"id":"5efd5a57-47d5-3dd5-8ea2-ea80439f4bd1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"Remove\"?\"","comments":"","instanceIdentifier":"3884ed78-018f-1000-afe6-dde3b6d5ed4f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"23719096-0634-32d2-9f5d-75617967b6fa","instanceIdentifier":"023a552d-018f-1000-d985-be5b6feb0ac0","name":"","source":{"id":"d03d71a1-2129-3f8b-9481-30976fa71c48","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"GetAlarmLogFiles","comments":"","instanceIdentifier":"be7d7274-018e-1000-f7c5-a5c529c97168"},"destination":{"id":"fdc9500f-f7ad-316b-a08b-b0a9325bdd25","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"02394144-018f-1000-c30f-3d17e4c9b266"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"fb811702-5267-3767-a677-0b0923a42d02","instanceIdentifier":"1ff399a6-018f-1000-4ecf-901239085a72","name":"","source":{"id":"f6ed1f35-d084-3fe5-97c3-1c33810cb526","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"dd333969-018e-1000-a849-f77ba2e998bf"},"destination":{"id":"2b5bb55d-9279-39d7-95a2-377f551963ae","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RemoveHeader","comments":"","instanceIdentifier":"19a04c57-018f-1000-e193-f95a06288808"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"24e2e43d-9214-31ec-9ca2-670891f44db2","instanceIdentifier":"92cb1607-018f-1000-0318-37cfcf68408a","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"ade4369a-479c-3234-a984-a302aec53117","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLforNetwork","comments":"","instanceIdentifier":"92c665c8-018f-1000-b2e8-c01faa82e6ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["alarmlog"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"42a21d03-a8e8-391f-b1a9-1690e0302c55","instanceIdentifier":"1fdf0d37-018f-1000-0278-342e229f38ba","name":"","source":{"id":"a827fa05-59cf-3084-b673-bb5ec77e9463","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"DeleteExistingDataInStagingTable","comments":"","instanceIdentifier":"1fc7feb3-018f-1000-29e8-ecd558aa9809"},"destination":{"id":"85237734-ee16-34a4-81fe-22bf745d0b51","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"f6107365-018e-1000-4e9f-b71dd965660a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"270d3ef3-d2ae-31b2-b066-8b5a6b261008","instanceIdentifier":"977b7279-018f-1000-6e2b-29babd082a31","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"2aa8c2c9-f219-3fa4-9a66-6635e2bb72b6","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLforEquip_alarm","comments":"","instanceIdentifier":"977b3457-018f-1000-7e16-378ff10ca683"},"labelIndex":1,"zIndex":0,"selectedRelationships":["alarmlog"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"5dc64243-0307-3e75-b651-6a7970f4439a","instanceIdentifier":"16cb9f3d-018f-1000-5000-b34c50b1da69","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"d40dfa50-5376-3d94-bdae-c8c549d554cc","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLForCellsite","comments":"","instanceIdentifier":"162efa95-018f-1000-af26-7bc21615ca9b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["cellsite"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"7eb6e183-dd4a-3389-8076-205d9f740e3d","instanceIdentifier":"1ff3846f-018f-1000-928a-cde1cf3f1acc","name":"","source":{"id":"fdc9500f-f7ad-316b-a08b-b0a9325bdd25","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"02394144-018f-1000-c30f-3d17e4c9b266"},"destination":{"id":"2b5bb55d-9279-39d7-95a2-377f551963ae","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RemoveHeader","comments":"","instanceIdentifier":"19a04c57-018f-1000-e193-f95a06288808"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"5ee094c8-b780-3b55-9cb4-5031f26be47b","instanceIdentifier":"e84116cf-018e-1000-0442-70cc9e8be620","name":"","source":{"id":"aaa5c9a4-be05-3a1c-b505-28949b4d3b2d","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"GetEMSFiles","comments":"","instanceIdentifier":"be7edd10-018e-1000-0480-9f95f87e52a5"},"destination":{"id":"f6ed1f35-d084-3fe5-97c3-1c33810cb526","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"dd333969-018e-1000-a849-f77ba2e998bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"6b489c89-0acc-316d-91f3-89e76872fb4c","instanceIdentifier":"54094dd4-018f-1000-85cd-885a8a3207dc","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"c6951af7-5999-3d89-a9ce-c204784b178e","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLForRegion","comments":"","instanceIdentifier":"54091822-018f-1000-c85b-27f73a62a1fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["cellsite"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"f7e3728d-f010-3b1f-b6e9-836396f316b5","instanceIdentifier":"92ed50c7-018f-1000-dcb0-15bce2514a5f","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"5fe589f2-6e20-3f9e-b013-565ad9531300","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLfor Alarm","comments":"","instanceIdentifier":"86c4b99b-018f-1000-7024-74b7149008cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["alarmlog"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"86ae67f7-8b87-3810-bebe-feee0bec9ce8","instanceIdentifier":"f610cc26-018e-1000-8802-9a9987e8e9a9","name":"","source":{"id":"a61702bd-1cf9-30a4-84e1-2e1b4d5e1e61","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"GetCellSiteFile","comments":"","instanceIdentifier":"bf020066-018e-1000-6e73-ad19166543c7"},"destination":{"id":"de032e3a-738c-36bf-9c7e-2c083afbb720","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"SetStagingTableName","comments":"","instanceIdentifier":"f6104772-018e-1000-74cd-2df26283e69d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"d1b5973c-66e1-37a2-b485-229cab8d405c","instanceIdentifier":"54979986-018f-1000-8b20-1a98e64b5a0d","name":"","source":{"id":"15204a42-d7e3-3ec9-8bdb-bbd0f84344b1","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"RouteOnAttribute","comments":"","instanceIdentifier":"162f5969-018f-1000-34a9-b68dbd53bf6c"},"destination":{"id":"a6f4ee60-c979-3a2b-a87e-a0290848ec10","type":"PROCESSOR","groupId":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab","name":"ExecuteSQLForEquipment","comments":"","instanceIdentifier":"54974e17-018f-1000-52f0-5f42daffdf81"},"labelIndex":1,"zIndex":0,"selectedRelationships":["alarmlog"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d31bf4a4-70e3-3815-9935-8f8a8cbdb158","instanceIdentifier":"e3209e60-018e-1000-d98f-f6c0d03e8ab0","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.16.3"},"properties":{"CellSite":"{\n    \"type\": \"record\",\n    \"name\": \"CellSite\",\n    \"fields\": [\n        {\"name\": \"Cell_Site_Id\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"TECHNOLOGIE\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"BSC\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"CELL_NAME\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Commune\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Wilaya\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Region\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Code\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Longitude\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"Altitude\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Code_Commune\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Site_Location\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Sut_Lot\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Code_Wilaya\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Start_Date\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"End_Date\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Update_Dttm\", \"type\": [\"null\",\"string\"]}\n    ]\n}","avro-reg-validated-field-names":"true","EMS":"{\n    \"type\": \"record\",\n    \"name\": \"EMS\",\n    \"fields\": [\n        {\"name\": \"Severity\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Location\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Additional_NE\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Additional_Location\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Code\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Specific_Problem\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"Raised_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Changed_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Remark\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"ACK_State\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Un_ACK_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Un_ACK_User_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Un_ACK_System_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Comment_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Comment\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"Comment_User_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Comment_System_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Product\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_AID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE_IP\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Link\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE_Group\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"System_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Additional_Information\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"probable_cause\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Related_Service_s\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Un_ACK_Information\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_1\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_2\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_3\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_4\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_5\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_6\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_7\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_8\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_9\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_10\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_11\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_12\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_13\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Custom_Attribute_14\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Raised_Logging_Time\", \"type\": [\"null\",\"string\"]}\n\t\t\n        \n    ]\n}","AlarmLog":"{\n    \"type\": \"record\",\n    \"name\": \"AlarmLog\",\n    \"fields\": [\n        {\"name\": \"Log_Serial_Number\", \"type\": [\"null\",\"string\"]},\n        {\"name\": \"Object_Identity_Name\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Object_Identity\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Product_Name\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"NE_Object_Identity\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Source\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Equipment_Alarm_Serial_Number\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Name\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Severity\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Status\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Occurrence_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Acknowledgement_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Clearance_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"UN_AcknowledgementOperator_Clearance_Operator\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Clearance_Operator\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Location_Information\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Link_FDN\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Link_Name\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Link_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Identifier\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Object_Instance_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Auto_Clear\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"Alarm_Clear_Type\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"business_Affected\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"addtional_Text\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"arrived_Utc_Time\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"list_Id\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"related_LogId\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"agent_ID\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"root_Id\", \"type\": [\"null\",\"string\"]},\n\t\t{\"name\": \"show_Flag\", \"type\": [\"null\",\"string\"]}\n        \n    ]\n}"},"propertyDescriptors":{"CellSite":{"name":"CellSite","displayName":"CellSite","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"EMS":{"name":"EMS","displayName":"EMS","identifiesControllerService":false,"sensitive":false},"AlarmLog":{"name":"AlarmLog","displayName":"AlarmLog","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.3"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"386bd826-8ad5-3d78-904d-1f1642b334fe","instanceIdentifier":"e31d39b3-018e-1000-005f-72bf038ea7f0","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.3"},"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"d31bf4a4-70e3-3815-9935-8f8a8cbdb158","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.3"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a4314bad-1ad9-3b26-80b9-b7bc24a788ab"},{"identifier":"d6d4e745-2c8a-3f8d-a1a9-ae0c0668525c","instanceIdentifier":"be93944c-018e-1000-802e-42ba8bffc1d4","name":"PostgresConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.16.3"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://127.0.0.1:5432/NMS","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"file:////C:/nifi-1.16.3/lib/postgresql-42.7.2.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.3"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"be7ca9a6-018e-1000-ad00-af4b688bc3ef"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}